@model CapstoneProject_TailTales.Models.AmiciziaPet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AmiciziaPet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet1.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet1.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAmiciziaPet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
