@model IEnumerable<CapstoneProject_TailTales.Models.AmiciziaPet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet1.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pet1.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAmiciziaPet }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAmiciziaPet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAmiciziaPet })
        </td>
    </tr>
}

</table>
