@model CapstoneProject_TailTales.Models.AmiciziaUtenti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AmiciziaUtenti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utenti1.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti1.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAmicizia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
