@model CapstoneProject_TailTales.Models.VacciniRecords
@Styles.Render("~/Content/FormStyle.css")
@{
    ViewBag.Title = "Cancella record Vaccino";
}

<main class="container-fluid overflow-y-visible">
    <div class="d-flex justify-content-center background-container">
        <div id="gradient-bg"></div>
        <div id="myform-card">
            <h3 class="sedan-regular text-center">Vuoi cancellare questa visita? </h3>
            <div class="form-group row px-5">
                <hr />
                <div class="d-flex">
                    <div class=" col-md-6 border-0">
                        <dl class="dl-horizontal">
                            <dt class="sedan-regular fw-bold">
                                @Html.DisplayNameFor(model => model.Libretto.NumMicrochip)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Libretto.NumMicrochip)
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                Descrizione / Punto Inoculo
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PuntoInoculo)
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                @Html.DisplayNameFor(model => model.VaccinoRabbia)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.VaccinoRabbia)
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                Vaccino Num. Lotto:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.VaccinoNLotto)
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                @Html.DisplayNameFor(model => model.Scadenza)
                            </dt>

                            <dd>
                                @if (Model.Scadenza.HasValue)
                                {
                                    @Model.Scadenza.Value.ToShortDateString()
                                } else
            {
               <p>Scadenza non inserita</p>
            }
                            </dd>
                        </dl>
                    </div>
                    <div class=" col-md-6 border-0">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Richiamo)
                            </dt>

                            <dd>
                                @{
                                    string richiamoText = Model.Richiamo.HasValue
                                        ? (Model.Richiamo.Value
                                            ? "Il vaccino è un richiamo programmato"
                                            : "Il vaccino ha un richiamo programmato")
                                        : "Il vaccino non ha richiami";
                                }
                                @richiamoText
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                Data Previsto
                            </dt>

                            <dd>
                                @if (Model.DataPrevista.HasValue)
                                {
                                    @Model.DataPrevista.Value.ToShortDateString()
                                }
                                else
                                {
                                    <p>Data previsto non inserita</p>
                                }
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                Data Effettuato
                            </dt>

                            <dd>
                                @if (Model.DataEffettuato.HasValue)
                                {
                                    @Model.DataEffettuato.Value.ToShortDateString()
                                }
                                else
                                {
                                    <p>Data effettuato non inserita</p>
                                }
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                @Html.DisplayNameFor(model => model.Veterinario)
                            </dt>

                            <dd>
                                @if (Model.Veterinario != null)
                                {
                                    @Html.DisplayFor(model => model.Veterinario)
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Utenti.Nome) @Html.DisplayFor(model => model.Utenti.Cognome)
                                }
                            </dd>

                            <dt class="sedan-regular fw-bold">
                                @Html.DisplayNameFor(model => model.Prezzo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Prezzo)
                            </dd>
                        </dl> 
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Cancella" class="btn bg-orange" /> |
                        @Html.ActionLink("Torna indietro", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</main>