@model CapstoneProject_TailTales.Models.AlbumFoto
@Styles.Render("~/Content/FormStyle.css")

@{
    ViewBag.Title = "Modifica foto";
}

<main class="container-fluid overflow-y-visible">
    <div class="d-flex justify-content-center background-container">
        <div id="gradient-bg"></div>
        <div id="myform-card" style="min-width: 500px">
            <h3 class="sedan-regular text-center mb-0 pb-0">Modifica foto:</h3>
            @using (Html.BeginForm("Edit", "AlbumFoto", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-12">
                    @Html.HiddenFor(model => model.IdAlbum)
                    @Html.HiddenFor(model => model.IdUtente_FK, new { @class = "mt-0 pt-0" })
                    @Html.HiddenFor(model => model.DataRecord, new { id = "DataRecord", @class = "mt-0 pt-0" })
                </div>


                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.ImgUrl, "Carica foto", htmlAttributes: new { @class = "control-label my-0" })
                    <div>
                        <div>
                            <img id="imgPreview" src="@Model.ImgUrl" alt="Immagine" style="max-width: 200px; max-height: 200px;" />
                        </div>
                        @Html.TextBoxFor(model => model.ImgUrl, new { type = "file", name = "file", @id = "ImgUrl", onchange = "previewImage(this)" })
                        @Html.ValidationMessageFor(model => model.ImgUrl, "", new { @class = "text-danger, m-0 p-0" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label my-1" })
                    <div>
                        @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                    </div>
                </div>

                <section class="d-flex justify-content-center my-1">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Save" class="btn bg-lightblue" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Homepage", "Index", "Home", new { @class = "btn bg-dark-grey" })
                        </div>
                    </div>
                </section>
            }
        </div> 
    </div> 
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var now = new Date();
        var formattedDate = now.toISOString(); 
        document.getElementById("DataRecord").value = formattedDate;
    });
</script>
